<!DOCTYPE html>
<html ng-app="">
	<head>
		<meta charset="utf-8"/>
		<title> Entreprenology</title>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<link href="styles/main.css" type="text/css" rel="stylesheet">
		<script src="controller.js"></script>
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script type='text/javascript' src='scripts/respond.min.js'></script>
	</head>
	<body>
	
		<div id="wrapper" data-ng-controller="BusinessCtrl">
		
			<header>
				
				<nav id="skipTo">
					<ul>
						<li>
							<a href="#main" title="Skip to Main Content">Skip to Main Content</a>
						</li>
					</ul>
				</nav>
				<aside>
			        <ul>
			       	<section id="filter">
			            <br>
			            <p>Filter by:</p>
			            <input type="text" data-ng-model="location" placeholder="Location"/> <br>
			            <p></p>
			            <input type="text" data-ng-model="name" placeholder="Company Name"/> </br>
			            <p></p>
			            <input type="text" data-ng-model="industry" placeholder="Industry"/> <br>
			            <p></p>
			            <input type="text" data-ng-model="keyworddescription" placeholder="Keyword"/> <br>
			            <p></p>
			            <select ng-model="intern" ng-options="status.paidvolunteer for status in statusList | orderBy:'applicationStatus'">
			                <option value="">Paid or Volunteer</option>
			            </select><br>
			            <p></p>
			            <select ng-model="intern" ng-options="interviewstatus.firstinterview for interviewstatus in firstInterviewList | orderBy:'applicationStatus'">
			                <option value="">1st Interview</option>
			            </select>
			            <p></p>
			        </section>
			        </ul>
				</aside>



				<!-- NAV GOES HERE -->
			
			</header>	
		
			<section id="main">
	            	<ul id="profile_container" data-ng-repeat="company in companies |filter:name| filter:paid | filter:intern| filter:industry| filter:location| filter:keyworddescription| filter: firstinterview">
	                    <li ng-mouseover="showDetails(company)" class="nametitle">{{company.name}}<br>
		                    {{company.industry}} <br>
		                    Paid or Volunteer: {{company.paidvolunteer}}<br>
		                    Location: {{company.location}}<br>
		                    Description: {{company.keyworddescription}}<br>
		                </li>
	                </ul>
			</section>

			<section id="company_info">
			<div ng-show="hovering" >
				<img src="http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" /><br>
				Description: {{hoveredCompany.keyworddescription}}<br>
			</div>
			</section>
		</div>
		<script src="angular.min.js"></script>
	</body>
</html>
